<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ck.lmmanagement.mapper.EmployeeMapper" >
    <!--验证登录是否正确-->
    <select id="loginAccount" parameterType="java.lang.String" resultType="Employee">
        SELECT
            fu.id id,
            fu.user_name userName,
            fu.login_name loginName,
            fu.user_phone userPhone
        FROM
            m_fnd_user fu
        WHERE
            fu.login_name = #{loginName}
            AND fu.password = #{password}
    </select>
    <!--验证是否有这个用户-->
    <select id="loginAccountByLoginName" parameterType="java.lang.String" resultType="Employee">
        SELECT
            fu.id id,
            fu.user_name userName,
            fu.login_name loginName,
            fu.password password,
            fu.user_phone userPhone
        FROM
            m_fnd_user fu
        WHERE
            fu.login_name = #{loginName}
    </select>
    <!--分页查询-->
    <select id="findPageData" parameterType="Employee" resultType="Employee">
        SELECT
            fu.id id,
            fu.user_name userName,
            fu.login_name loginName,
            fu.password password,
            fu.job_number jobNumber,
            fu.user_phone userPhone,
            fu.age age,
            fu.sex sex
        FROM
            m_fnd_user fu
    </select>
    <!--分页查询总数-->
    <select id="findPageTotal" parameterType="Employee" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            m_fnd_user fu
    </select>
    <!--新增用户-->
    <insert id="saveForm" parameterType="Employee">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO m_fnd_user (login_name, user_name, password, job_number, age, sex, user_phone, s_cid, s_ct, s_uid, s_ut )
        VALUES
        (#{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{jobNumber,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=CHAR}, #{userPhone,jdbcType=VARCHAR}, 1, #{creationDate}, 1, #{updatedDate} );
    </insert>
</mapper>

