<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ck.lmmanagement.mapper.ImageMapper" >
    <!--新增-->
    <insert id="saveForm" parameterType="Image">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `image_blog`(`title`, `outline`, `content`, `category`, `s_cid`, `s_ct`, `s_uid`, `s_ut`)
        VALUES
        (#{title,jdbcType=VARCHAR}, #{outline,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR},
        #{creationBy, jdbcType=BIGINT}, #{creationDate, jdbcType=TIMESTAMP}, #{updatedBy, jdbcType=BIGINT}, #{updatedDate, jdbcType=TIMESTAMP})
    </insert>
</mapper>

