<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ck.lmmanagement.mapper.RoleMapper" >
    <!--获取用户所有角色-->
    <select id="findDataById" parameterType="java.lang.Long" resultType="Role">
        SELECT
            fr.id id,
            fr.role_code roleCode,
            fr.role_name roleName,
            fr.role_desc roleDesc
        FROM
            b_user_role_relation brr,
            m_fnd_role fr
        WHERE
            brr.role_id = fr.id
            AND brr.user_id = #{id}
    </select>
    <!--增加用户与角色之前的关系-->
    <insert id="addUserAndRoleRelation" parameterType="Role">
        INSERT INTO `b_user_role_relation` (`user_id`, `role_id`, `s_cid`, `s_ct`, `s_uid`, `s_ut` )
        VALUES
        (1, 1, 1, '2018-11-11 14:14:31', 1, '2018-11-11 14:14:33' );
    </insert>
</mapper>

